.Header {
  /* margin: 5; */
}

.Group {
  /* margin: 5; */
}

.InnerGroup {
  /* margin: 5; */
}

.Title {
  font-size: calc(10px + 2vmin);
}

.FileName {
  font-size: calc(10px + 2vmin);
}

.Title,
.FileName {
  @mixin light {
    color: var(--mantine-color-blue-6);
  }

  @mixin dark {
    color: var(--mantine-color-blue-4);
  }
}
